---
import Section from "@/components/Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="Sobre mí">
  <p>{summary}</p>
</Section>

<style>
  p {
    color: #3b3b3c;
    font-size: 0.9rem;
    text-wrap: pretty;
    margin: 0;
    line-height: 1.5;
  }
</style>
