---
const { title } = Astro.props;
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    max-width: 45rem;
    margin: 1rem auto 2rem;
  }

  h2 {
    margin-bottom: 1rem;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
